.deer-wrapper {
  position: absolute;
  top: 40%;
  left: 64%;
  transition: all 1s;
  opacity: 1;
}

.deer-wrapper.hide {
  position: absolute;
  top: 40%;
  left: 68%;
  opacity: 0;
}

.deer-image {
  height: 100px;
}

.monkey-wrapper {
  position: absolute;
  top: 20%;
  left: 40.5%;
  transition: all 1s;
  opacity: 1;
}

.monkey-wrapper.hide {
  position: absolute;
  top: 20%;
  left: 36.5%;
  opacity: 0;
}

.monkey-image {
  height: 75px;
}

.squirrel-wrapper.squirrel-wrapper {
  position: absolute;
  top: 90%;
  left: 5%;
  transition: all 1s;
  opacity: 1;
}

.squirrel-wrapper.squirrel-wrapper.hide {
  position: absolute;
  top: 90%;
  left: 1%;
  opacity: 0;
}

.squirrel-image {
  height: 25px;
  transform: scaleX(-1);
}

.black-bird-wrapper.black-bird-wrapper {
  position: absolute;
  top: 9%;
  left: 68.7%;
  transition: all 1s;
  opacity: 1;
}

.black-bird-wrapper.black-bird-wrapper.hide {
  position: absolute;
  top: 9%;
  left: 72.7%;
  opacity: 0;
}

.black-bird-image {
  height: 75px;
  transform: scaleX(-1);
}

@media only screen and (max-width: 600px) {
  .black-bird-wrapper.black-bird-wrapper {
    position: absolute;
    top: 15%;
    left: 12.7%;
  }
  
  .black-bird-wrapper.black-bird-wrapper.hide {
    position: absolute;
    top: 15%;
    left: 8.7%;
  }
}

.morpho-wrapper.morpho-wrapper {
  position: absolute;
  top: 40%;
  left: 38%;
  transition: all 1s;
  opacity: 1;
}

.morpho-wrapper.morpho-wrapper.hide {
  position: absolute;
  top: 40%;
  left: 34%;
  opacity: 0;
}

.morpho-image {
  height: 13px;
  transform: scaleX(-1);
}

.snake-wrapper.snake-wrapper {
  position: absolute;
  top: 72%;
  left: 73%;
  transition: all 1s;
  opacity: 1;
}

.snake-wrapper.snake-wrapper.hide {
  position: absolute;
  top: 72%;
  left: 77%;
  opacity: 0;
}

.snake-image {
  height: 50px;
  transform: scaleX(-1);
}

@media only screen and (max-width: 1024px) {
  .snake-wrapper.snake-wrapper {
    position: absolute;
    top: 88%;
    left: 65%;
  }
  
  .snake-wrapper.snake-wrapper.hide {
    position: absolute;
    top: 88%;
    left: 69%;
  }
}

.flower-wrapper.flower-wrapper {
  position: absolute;
  top: 55%;
  left: 15%;
  transition: all 1s;
  -webkit-transition: all 1s;
  opacity: 1;
}

.flower-wrapper.flower-wrapper.hide {
  position: absolute;
  top: 55%;
  left: 11%;
  opacity: 0;
}

.flower-image {
  height: 25px;
  transform: scaleX(-1);
}

.humming-wrapper.humming-wrapper {
  position: absolute;
  top: 35%;
  left: 25%;
  transition: all 1s;
  opacity: 1;
}

.humming-wrapper.humming-wrapper.hide {
  position: absolute;
  top: 35%;
  left: 21%;
  opacity: 0;
}

.humming-image {
  height: 32px;
  transform: scaleX(-1);
}

.animal-container {
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: all 3s;
}

.animal-container.show {
  opacity: 1;
}