/* .dialog-wrapper {
    position: fixed;
} */

.modal {
    margin: 0;
    width: 300px;
    border: none;
}

@media only screen and (max-width: 700px) {
    .modal {
        top: 70% !important;
        left: 47% !important;
        transform: translate(-50%, -50%);
    }
  }

dialog::backdrop {
    width: 0;
    height: 0;
}
 
.modal__title {
    margin: 15px 0;
}

.modal__text {
    font-size: 14px;
}